<!-- list -->
<ul class="nav" >
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span translate="aside.nav.HEADER">תפריט</span>
  </li>
  <li>
    <a href ui-sref="app.dashboard-v1" class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
      <span class="font-bold" translate="aside.nav.DASHBOARD">Dashboard</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.mail.list">
      <b class="badge bg-info pull-right">0</b>
      <i class="glyphicon glyphicon-envelope icon text-info-lter"></i>
      <span class="font-bold" translate="aside.nav.EMAIL">Email</span>
    </a>
  </li>
  <li class="line dk"></li>
  <!--
  <li>
    <a href class="auto" >
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-th-large icon text-success"></i>
      <span class="font-bold">עסקים</span>
    </a>
    <ul class="nav nav-sub dk" style="text-align:right">
      <li ui-sref-active="active">
        <a ui-sref="apps.blog">
          <span>מועדונים</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.todo">
          <span>פאבים</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="apps.note">
          <span>מסעדות</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="apps.contact">
          <span>הופעות</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.weather">
          <span>סרטים</span>
        </a>
      </li>
       <li ui-sref-active="active">
        <a ui-sref="app.weather">
          <span>באולינג\סנוקר</span>
        </a>
      </li>
       <li ui-sref-active="active">
        <a ui-sref="app.weather">
          <span>כולם</span>
        </a>
      </li>
    </ul>
  </li>
-->
  <li class="line dk"></li>
   <li ui-sref-active="active">
    <a ui-sref="apps.sorokacontact">
      <b class="badge bg-info pull-right">{{contacts_count}}</b>
      <i class="glyphicon glyphicon-user icon " style="color:#F00"></i>
      <span class="font-bold">אנשי קשר</span>
    </a>
  </li>
  
  <li ui-sref-active="active">
    <a ui-sref="apps.blog">
      <b class="badge bg-info pull-right">{{articles_count}}</b>
      <i class="glyphicon glyphicon-tasks icon text-info-lter"></i>
      <span class="font-bold">בלוג</span>
    </a>
  </li>
  
  <li ui-sref-active="active">
    <a ui-sref="apps.favorite">
      <b class="badge bg-info pull-right">{{recommended_count}}</b>
      <i class="glyphicon glyphicon-comment icon text-info-lter" style="color:#0C0"></i>
      <span class="font-bold">מומלצים</span>
    </a>
  </li>
  
  <li ui-sref-active="active">
    <a ui-sref="apps.quiz">
      <b class="badge bg-info pull-right">{{questions_count}}</b>
      <i class="glyphicon glyphicon-usd icon text-info-lter" style="color:#fff"></i>
      <span class="font-bold">משוב</span>
    </a>
  </li>
  
   <li ui-sref-active="active">
    <a ui-sref="apps.market">
      <b class="badge bg-info pull-right">{{trading_count}}</b>
      <i class="glyphicon glyphicon-comment icon text-info-lter" style="color:#0C0"></i>
      <span class="font-bold">שוק קח תן</span>
    </a>
  </li>

    <li ui-sref-active="active">
    <a ui-sref="apps.video">
      <b class="badge bg-info pull-right">{{videos_count}}</b>
      <i class="glyphicon glyphicon-facetime-video icon text-info-lter" style="color:#0C0"></i>
      <span class="font-bold">ניהול וידאו</span>
    </a>
  </li>
 
     <li ui-sref-active="active">
    <a ui-sref="apps.newemployee">
      <b class="badge bg-info pull-right">1</b>
      <i class="glyphicon glyphicon-star icon text-info-lter" style="color:#0C0"></i>
      <span class="font-bold">עובד חדש</span>
    </a>
  </li>

  
    <li ui-sref-active="active">
    <a ui-sref="apps.about">
      <b class="badge bg-info pull-right">1</b>
      <i class="glyphicon glyphicon-info-sign icon text-info-lter" style="color:#0C0"></i>
      <span class="font-bold">ניהול אודות</span>
    </a>
  </li>
  
  
  <li class="line dk hidden-folded"></li>

  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">          
    <span translate="aside.nav.your_stuff.YOUR_STUFF">Your Stuff</span>
  </li>  
  <li>
    <a ui-sref="app.page.profile">
      <i class="icon-user icon text-success-lter"></i>
      <b class="badge bg-success pull-right">30%</b>
      <span translate="aside.nav.your_stuff.PROFILE">Profile</span>
    </a>
  </li>
  <li>
    <a ui-sref="app.docs">
      <i class="icon-question icon"></i>
      <span translate="aside.nav.your_stuff.DOCUMENTS">Documents</span>
    </a>
  </li>
</ul>
<!-- / list -->
