/* CSS Document */

.editText_class
{
	width:600px;
	padding:10px;
}

div[ng-app] { margin: 10px; }
.table {width: 100% }
form[editable-form]
{
	
}
form[editable-form] > div 
{
	margin: 10px 0;
}

.editable-wrap 
{
    width: 100%;
}

