<!-- hbox layout -->
<div class="hbox hbox-auto-xs hbox-auto-sm bg-light " ng-init="
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.settings.asideFolded = false; 
  app.hideAside = false;
  app.hideFooter = true;
  ">


  <!-- column -->
  <div class="col w b-r">
    <div class="vbox">
      <div class="row-row">
        <div class="cell scrollable hover">
          <div class="cell-inner">
            <div class="list-group no-radius no-border no-bg m-b-none" style="text-align:right">
             <!-- <a class="list-group-item b-b" ng-class="{'focus': (filter == '')}" ng-click="selectGroup({name:''})">כל העסקים</a> -->
              <a ng-repeat="item in groups" ng-dblclick="editItem(item)" class="list-group-item m-l hover-anchor b-a no-select" ng-class="{'focus m-l-none': item.selected}" ng-click="selectGroup(item)">
                <span ng-click='deleteGroup(item)' class="pull-right text-muted hover-action"><i class="fa fa-times"></i></span>
                <span class="block m-l-n" ng-class="{'m-n': item.selected }" >{{ item.CatName ? item.CatName : 'Untitled' }}</span>
                <input type="text" class="form-control pos-abt" ng-show="item.editing" ng-blur="doneEditing(item)" ng-model="item.CatName" style="top:3px;left:2px;width:98%" ui-focus="item.editing">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper b-t">
        <span tooltip="Double click to Edit" class="pull-right text-muted inline wrapper-xs m-r-sm"><i class="fa fa-question"></i></span>
        <a href class="btn btn-sm btn-default" ng-click="createGroup()"><i class="fa fa-plus fa-fw m-r-xs"></i> New Group</a>
      </div>
    </div>
  </div>
  <!-- /column -->
  <!-- column -->
  <div class="col w-lg lter b-r">
    <div class="vbox">
      <div class="wrapper-xs b-b">
        <div class="input-group m-b-xxs">
          <span class="input-group-addon input-sm no-border no-bg"><i class="icon-magnifier text-md m-t-xxs"></i></span>
          <input type="text" class="form-control input-sm no-border no-bg text-md" placeholder="חיפוש {{group.name ? group.name : 'כל הכתבות'}}" ng-model="query">
        </div>
      </div>
      <div class="row-row" style="text-align:right; direction:rtl">
        <div class="cell scrollable hover">
          <div class="cell-inner">
            <div class="m-t-n-xxs">
              <div class="list-group list-group-lg no-radius no-border no-bg m-b-none">
                <a ng-repeat="item in items" class="list-group-item m-l" ng-class="{'select m-l-none': item.selected }" ng-click="selectItem(item)">
					<span class="block text-ellipsis m-l-n text-md" ng-class="{'m-l-none': item.selected }">
                    {{ item.ArticleTitle }}</strong>
                  </span>
				 <span ng-click='deleteArticle(item)' class="pull-left text-muted"><i class="fa fa-times"></i></span>

                </a>
              </div>
            </div>
            <div class="text-center pos-abt w-full" style="top:50%;" ng-hide="(items | filter:{group:filter} | filter:query).length"></div>
          </div>
        </div>
      </div>
      <div class="wrapper b-t text-center">
        <a href class="btn btn-sm btn-default btn-addon" ng-click="createItem()"><i class="fa fa-plus fa-fw m-r-xs"></i> הוסף כתבה</a>
      </div>
    </div>
  </div>
  <!-- /column -->

  <!-- column -->
  <div class="col bg-white-only">
    <div class="vbox">
      <div class="wrapper-sm b-b">
        <div class="m-t-n-xxs m-b-n-xxs m-l-xs">
          <a class="btn btn-xs btn-default pull-right" ng-hide="!item" ng-click="deleteItem(item)"><i class="fa fa-times"></i></a>
          <a class="btn btn-xs btn-default" ng-hide="item.editing" ng-click="editItem(item)">עריכה</a>
          <a class="btn btn-xs btn-default" ng-show="item.editing" ng-click="doneEditing(item)">שמירה</a>
        </div>
      </div>
      <div class="row-row" style="text-align:right; direction:rtl">
        <div class="cell">
          <div class="cell-inner">
            <div class="wrapper-lg">
              <div class="hbox h-auto m-b-lg">
                <div class="col text-center w-sm">
                  <div class="" ng-hide="item.editing">
                    <img ng-src="{{avatar}}" style="width:35%;" ng-show="avatar">
                  </div>
                  <div class="" ng-show="item.editing">
                    <img ng-src="{{avatar}}" ng-show="avatar" style="width:20%;">
					<input type="file" id="fileUPP" name="fileUPP" onchange="angular.element(this).scope().onFileSelect(this)">
                  </div>
                </div>
              </div>
               <div class="col  font-thin">
                  <div ng-hide="item.editing" style="font-size:20px;">{{item.ArticleTitle}}</div>
                  <div ng-show="item.editing">
                    <input type="text" placeholder="כותרת" class="form-control w-auto input-lg m-b-n-xxs font-bold" style="width:600px;" ng-model="item.ArticleTitle" >
                  </div>
                </div>
              <!-- fields -->
              <div class="form-horizontal"  style="margin-top:20px;">
                <div class="form-group m-b-sm">
                  <div class="col-sm-12">
                    <p class="form-control-static" ng-hide="item.editing" ng-bind-html="item.ArticleDesc"></p>
                   <!-- <input type="textarea" style="height:250px;" class="form-control" ng-show="item.editing"  > -->
                   <div  ng-show="item.editing">
                        <div class="wrapper-md">
                          <div lazy-load="textAngular">
                            <div placeholder="תיאור הכתבה" text-angular ng-model="item.ArticleDesc" class="btn-groups"></div>
                          </div>
                        </div>
                   </div>
                 
                  
                </div>
              </div>
              <!-- / fields -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /column -->
</div>
<!-- /hbox layout -->