<!-- hbox layout -->
<div class="hbox hbox-auto-xs hbox-auto-sm bg-light " ng-init="
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.settings.asideFolded = false; 
  app.hideAside = false;
  app.hideFooter = true;
  ">


  <!-- column -->
  <!--
  <div class="col w b-r">
    <div class="vbox">
      <div class="row-row">
        <div class="cell scrollable hover">
          <div class="cell-inner">
            <div class="list-group no-radius no-border no-bg m-b-none" style="text-align:right">
              <!-- <a class="list-group-item b-b" ng-class="{'focus': (filter == '')}" ng-click="selectGroup({name:''})">כל העסקים</a>
              <a ng-repeat="item in items" ng-dblclick="editItem(item)" class="list-group-item m-l hover-anchor b-a no-select" ng-class="{'focus m-l-none': item.selected}" ng-click="selectItem(item)">
                <span ng-click='deleteGroup(item)' class="pull-right text-muted hover-action"><i class="fa fa-times"></i></span>
                <span class="block m-l-n" ng-class="{'m-n': item.selected }" >{{ item.title ? item.title : 'Untitled' }}</span>
                <input type="text" class="form-control pos-abt" ng-show="item.editing" ng-blur="doneEditing(item)" ng-model="item.CatName" style="top:3px;left:2px;width:98%" ui-focus="item.editing">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper b-t">
        <span tooltip="Double click to Edit" class="pull-right text-muted inline wrapper-xs m-r-sm"><i class="fa fa-question"></i></span>
        <a href class="btn btn-sm btn-default" ng-click="createGroup()"><i class="fa fa-plus fa-fw m-r-xs"></i> New Group</a>
      </div>
    </div>
  </div>
  -->
  <!-- column -->
  <div class="col bg-white-only">
    <div class="vbox">
      <div class="wrapper-sm b-b">
        <div class="m-t-n-xxs m-b-n-xxs m-l-xs">
          <!--
		  <a class="btn btn-xs btn-default pull-right" ng-hide="!item" ng-click="deleteItem(item)"><i class="fa fa-times"></i></a>
		  -->
          <a class="btn btn-xs btn-default" ng-hide="item.editing" ng-click="doneEditing(item)">שמירה</a>
          <a class="btn btn-xs btn-default" ng-show="item.editing" ng-click="doneEditing(item)">עריכה</a>
        </div>
      </div>
      <div class="row-row" style="text-align:right; direction:rtl">
        <div class="cell">
          <div class="cell-inner">
            <div class="wrapper-lg">
              <div class="hbox h-auto m-b-lg" >
                <div class="col text-center w-sm">
                  <div class="" ng-hide="item.editTitle">
                    <img ng-src="{{avatar}}" style="width:35%;">
                  </div> 
                  <div class="" ng-show="item.editTitle">
                    <img ng-src="{{avatar}}" style="width:20%;">
					<input type="file" id="fileUPP" name="fileUPP" onchange="angular.element(this).scope().onFileSelect(this)">
                  </div>
                </div>
              </div>
               <div class="col1  font-thin" style="width:100%;">
			    <div>כותרת</div>
                  <div ng-hide="item.editTitle" style="font-size:20px;">{{item.title}}</div>
                  <div ng-show="item.editTitle" style="width:100%;">
                    <input type="text" placeholder="הכנס נושא" class="form-control w-auto input-lg m-b-n-xxs font-bold" style="width:90%; " ng-model="item.title" >
                  </div>
                </div>
				<!--
                 <div class="form-horizontal"  style="margin-top:20px;">
                  <div>שם משתמש</div>
                  <div ng-hide="item.editTitle" style="font-size:20px;">{{item.username}}</div>
                  <div ng-show="item.editTitle">
                    <input type="text" placeholder="הכנס שם משתמש" class="form-control w-auto input-lg m-b-n-xxs font-bold" style="width:90%;" ng-model="item.username" >
                  </div>
                </div>
				--->
            
              
                <div class="form-horizontal"  style="margin-top:20px;">
                  <div>תיאור</div>
                  <div ng-hide="item.editTitle" style="font-size:20px;">{{item.desc}}</div>
                  <div ng-show="item.editTitle">
					
					      <div lazy-load="textAngular">
                            <div placeholder="תיאור אודות" text-angular ng-model="item.desc"  class="btn-groups"></div>
                          </div>
						
					<!--
					<input type="text" placeholder="הכנס תיאור המוצר" class="form-control w-auto input-lg m-b-n-xxs font-bold" style="width:90%;" ng-model="item.desc" >
					<textarea rows="4" cols="50" placeholder="תיאור עובד חדש" class="form-control w-auto input-lg m-b-n-xxs font-bold" style="width:90%;" ng-model="item.desc"></textarea>
					-->
                  </div>
                </div>
              <!-- fields -->
              
              <!-- / fields -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /column -->
</div>
<!-- /hbox layout -->