<div class="hbox hbox-auto-xs hbox-auto-sm bg-light " ng-init="
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.settings.asideFolded = false; 
  app.hideAside = false;
  app.hideFooter = true;
  ">
  
<div class="bg-light lter b-b wrapper-md" style="text-align:right">
  <h1 class="m-n font-thin h3">אנשי קשר - אפליקציית סורוקה</h1>
</div>
<div class="wrapper-md" style="direction:rtl">
 
  <table class="table table-bordered table-hover table-condensed bg-white-only">
    <tr style="font-weight: bold">
      <td style="width:25%">שם המחלקה</td>
      <td style="width:20%">שם תת מחלקה</td>
      <td style="width:20%">מספר טלפון</td>
      <td style="width:10%">אפ' עובדים</td>
      <td style="width:25%">עריכה</td>
    </tr>
    <tr ng-repeat="user in users">
      <td class="v-middle">
        <!-- editable username (text with validation) -->
        <span editable-text="user.title" e-name="name" e-form="rowform"  e-required>
          {{ user.title || 'empty' }}
        </span>
      </td>
      <td class="v-middle">
        <!-- editable status (select-local) -->
        <span editable-text="user.subtitle" e-name="subtitle" e-form="rowform" >
          {{ user.subtitle || 'empty' }}
        </span>
      </td>
      <td class="v-middle">
        <!-- editable group (select-remote) -->
        <span editable-text="user.phone" e-name="phone"  e-form="rowform" >
         {{ user.phone || 'empty' }}
        </span>
      </td>
      <td class="v-middle">
        <!-- editable group (select-remote) -->
        <span editable-text="user.employee" e-name="employee"  e-form="rowform" >
          {{ isEmployee(user.employee) }}
        </span>
      </td>
      <td style="white-space: nowrap">
        <!-- form -->
        <form editable-form name="rowform" onaftersave="saveUser($data,user.id,$index)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == user">
          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-sm btn-info">
            שמירה
          </button>
          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-sm btn-default">
            ביטול
          </button>
        </form>
        <div class="buttons" ng-show="!rowform.$visible">
          <button class="btn btn-sm btn-info" ng-click="rowform.$show()">עריכה</button>
          <button class="btn btn-sm btn-danger" ng-click="removeUser($index,user.id)">מחיקה</button>
        </div>  
      </td>
    </tr>
  </table>

  <button class="btn btn-default m-b-lg" ng-click="addUser()">הוספת איש קשר</button>
</div>
</div>