<div class="hbox hbox-auto-xs hbox-auto-sm bg-light " ng-init="
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.settings.asideFolded = false; 
  app.hideAside = false;
  app.hideFooter = true;
  ">
<div class="bg-light lter b-b wrapper-md" style="text-align:right">
  <h1 class="m-n font-thin h3">משוב- אפליקציית סורוקה</h1>
</div>
<div class="wrapper-md" style="direction:rtl">
 
  <table class="table table-bordered table-hover table-condensed bg-white-only">
    <tr style="font-weight: bold">
      <td style="width:65%">שאלת המשוב</td>
      <td style="width:35%">עריכה</td>
    </tr>
    <tr ng-repeat="user in users" >
      <td class="v-middle">
        <!-- editable username (text with validation) -->
        <span editable-text="user.title" class="editText_class"  e-form="rowform"  e-required>
          {{ user.title || 'empty' }}
        </span>
      </td>
      <td style="white-space:nowrap">
        <!-- form -->
        <form editable-form name="rowform" onaftersave="saveUser($data,user.id,user)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == user">
          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-sm btn-info">
            שמירה
          </button>
          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-sm btn-default">
            ביטול
          </button>
        </form>
        <div class="buttons" ng-show="!rowform.$visible">
          <button class="btn btn-sm btn-info" ng-click="rowform.$show()">עריכה</button>
          <button class="btn btn-sm btn-danger" ng-click="removeUser($index,user.id)">מחיקה</button>
        </div>  
      </td>
    </tr>
  </table>

  <button class="btn btn-default m-b-lg" ng-click="addUser()">הוספת שאלה</button>
</div>
</div>